[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/eink.vim"]
	path = bundle/eink.vim
	url = https://bitbucket.org/kisom/eink.vim.git
